<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>622601677799-j0qkk3534rgr95lfc6em7o0cl1n37mam.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.622601677799-j0qkk3534rgr95lfc6em7o0cl1n37mam</string>
	<key>API_KEY</key>
	<string>AIzaSyAxDvh3RBJ8UA9kwFnjXy4zxHWW6RkhM9Y</string>
	<key>GCM_SENDER_ID</key>
	<string>622601677799</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.swu.sheettalk</string>
	<key>PROJECT_ID</key>
	<string>sheet-talk-db</string>
	<key>STORAGE_BUCKET</key>
	<string>sheet-talk-db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:622601677799:ios:3c9a965d4d593efffe2b42</string>
</dict>
</plist>